---
layout: single
---

<h1 class="main__title first">Jesse Mu</h1>

<p>
  I am a member of technical staff on the Alignment team at <a href="https://www.anthropic.com/">Anthropic</a>.
I received my PhD in Computer Science from Stanford University in 2023, where I was advised by <a href="https://cocolab.stanford.edu/ndg.html">Noah Goodman</a> and
supported by the
<a href="https://www.openphilanthropy.org/grants/open-phil-ai-fellowship-2021-class/">Open Phil AI Fellowship</a> and the <a href="https://www.nsfgrfp.org/">NSF GRFP</a>. During my PhD, I spent time at <a href="https://lingo.csail.mit.edu/">MIT LINGO</a>, <a href="https://ai.facebook.com/research/">FAIR</a>, and <a href="https://www.deepmind.com/">DeepMind</a>.
Previously, I received an MPhil in Advanced Computer Science from the University of Cambridge on a <a href="https://www.churchillscholarship.org/">Churchill Scholarship</a> and a BA from Boston College.
</p>

<p>
My research interests are in operationalizing language for machine learning:
for example, training
[<a class="number-link" href="https://arxiv.org/abs/1911.02683">1</a>, <a class="number-link" href="https://arxiv.org/abs/2202.08938">2</a>, <a class="number-link" href="https://arxiv.org/abs/2210.00066">3</a>, <a class="number-link" href="https://arxiv.org/abs/2203.14465">4</a>]
or interpreting
[<a class="number-link" href="https://arxiv.org/abs/2006.14032">5</a>]
models with language explanations,
or by building agents that use language for multi-agent collaboration
[<a class="number-link" href="https://arxiv.org/abs/2106.02668">6</a>, <a class="number-link" href="https://arxiv.org/abs/2006.00418">7</a>, <a class="number-link" href="https://arxiv.org/abs/2110.05422">8</a>, <a class="number-link" href="https://psyarxiv.com/tfb3d">9</a>, <a class="number-link" href="https://openreview.net/forum?id=H-eMQbR7Z5">10</a>, <a class="number-link" href="https://arxiv.org/abs/2305.11374">11</a>].
</p>

<div class="mobile__author__profile">
{% include author-links.html %}
</div>

<h1>Publications</h1>

<p><a href="https://arxiv.org/abs/2502.16797"><strong class="papertitle">Forecasting rare language model behaviors</strong></a><br>
  <a href="https://people.eecs.berkeley.edu/~erjones/">Erik Jones</a>, <a href="https://www.megtong.com/">Meg Tong</a>, <strong>Jesse Mu</strong>, Mohammed Mahfoud, <a href="https://jan.leike.name/">Jan Leike</a>, <a href="https://www.cs.toronto.edu/~rgrosse/">Roger Grosse</a>, <a href="https://sites.krieger.jhu.edu/jared-kaplan/">Jared Kaplan</a>, William Fithian, <a href="https://ethanperez.net/">Ethan Perez</a>, <a href="https://mrinanksharma.github.io/">Mrinank Sharma</a><br>
  arXiv 2025
</p>

<p><a href="#"><strong class="papertitle">Constitutional Classifiers: Defending against Universal Jailbreaks across Thousands of Hours of Red Teaming</strong></a><br>
  <a href="https://mrinanksharma.github.io/">Mrinank Sharma</a>, <a href="https://www.megtong.com/">Meg Tong</a>, <strong>Jesse Mu</strong>, <a href="https://www.jerrywei.net/home">Jerry Wei</a>, Jorrit Kruthoff, Scott Goodfriend, <a href="https://ong.ac/">Euan Ong</a>, Alwin Peng, Raj Agarwal, <a href="https://www.cs.toronto.edu/~anilcem/">Cem Anil</a>, <i>30 others</i>, <a href="https://jan.leike.name/">Jan Leike</a>, <a href="https://sites.krieger.jhu.edu/jared-kaplan/">Jared Kaplan</a>, <a href="https://ethanperez.net/">Ethan Perez</a><br>
  arXiv 2025
</p>

<p><a href="https://www-cdn.anthropic.com/af5633c94ed2beb282f6a53c595eb437e8e7b630/Many_Shot_Jailbreaking__2024_04_02_0936.pdf"><strong class="papertitle">Many-shot Jailbreaking</strong></a><br>
  <a href="https://www.cs.toronto.edu/~anilcem/">Cem Anil</a>, <a href="https://esdurmus.github.io/">Esin Durmus</a>, <a href="https://mrinanksharma.github.io/">Mrinank Sharma</a>, <a href="https://joejbenton.com/">Joe Benton</a>, Sandipan Kundu, Joshua Batson, <a href="https://ninarimsky.com/">Nina Rimsky</a>, <a href="https://www.megtong.com/">Meg Tong</a>, <strong>Jesse Mu</strong>, Daniel Ford, Francesco Mosconi, <i>17 others</i>,
<a href="https://sites.krieger.jhu.edu/jared-kaplan/">Jared Kaplan</a>, <a href="https://hai.stanford.edu/people/deep-ganguli">Deep Ganguli</a>, <a href="https://cims.nyu.edu/~sbowman/">Samuel Bowman</a>, <a href="https://ethanperez.net/">Ethan Perez</a>, <a href="https://www.cs.toronto.edu/~rgrosse/">Roger Grosse</a>, <a href="https://www.cs.toronto.edu/~duvenaud/">David Duvenaud</a><br>
NeurIPS 2024 [<a href="https://www.theguardian.com/technology/2024/apr/03/many-shot-jailbreaking-ai-artificial-intelligence-safety-features-bypass" class="sidelink">The Guardian</a>]
</p>

<p><a href="https://arxiv.org/abs/2401.05566"><strong class="papertitle">Sleeper Agents: Training Deceptive LLMs that Persist Through Safety Training</strong></a><br>
  <a href="https://evhub.github.io/">Evan Hubinger</a>, Carson Denison, <strong>Jesse Mu</strong>, Mike Lambert, <a href="https://www.megtong.com/">Meg Tong</a>, Monte MacDiarmid, Tamera Lanham, Daniel M. Ziegler, Tim Maxwell, Newton Cheng, <i>17 others</i>,
  Marina Favaro, <a href="https://oatml.cs.ox.ac.uk//members/jan_brauner/">Jan Brauner</a>, <a href="https://www.openphilanthropy.org/about/team/holden-karnofsky/">Holden Karnofsky</a>, <a href="https://paulfchristiano.com/">Paul Christiano</a>, <a href="https://cims.nyu.edu/~sbowman/">Samuel Bowman</a>, <a href="http://logangraham.xyz/">Logan Graham</a>, <a href="https://sites.krieger.jhu.edu/jared-kaplan/">Jared Kaplan</a>, <a href="https://www.soren-mindermann.com/">Sören Mindermann</a>, Ryan Greenblatt, <a href="https://x.com/bshlgrs">Buck Shlegeris</a>, <a href="https://nicholasschiefer.com/">Nicholas Schiefer</a>, <a href="https://ethanperez.net/">Ethan Perez</a><br>
  arXiv 2024 [<a href="https://github.com/anthropics/sleeper-agents-paper" class="sidelink">samples</a>, <a href="https://www.nature.com/articles/d41586-024-00189-3" class="sidelink">Nature</a>, <a href="https://venturebeat.com/ai/new-study-from-anthropic-exposes-deceptive-sleeper-agents-lurking-in-ais-core/" class="sidelink">VentureBeat</a>, <a href="https://arstechnica.com/information-technology/2024/01/ai-poisoning-could-turn-open-models-into-destructive-sleeper-agents-says-anthropic/" class="sidelink">Ars Technica</a>, <a href="https://www.businessinsider.com/ai-models-can-learn-deceptive-behaviors-anthropic-researchers-say-2024-1" class="sidelink">Business Insider</a>, <a href="https://www.astralcodexten.com/p/ai-sleeper-agents" class="sidelink">Astral Codex Ten</a>, <a href="https://twitter.com/elonmusk/status/1746091571122987221" class="sidelink">Elon</a>]
</p>

<p><a href="https://arxiv.org/abs/2304.08467"><strong class="papertitle">Learning to Compress Prompts with Gist Tokens</strong></a><br>
  <strong>Jesse Mu</strong>, <a href="https://xiangli1999.github.io/">Xiang Lisa Li</a>, <a href="https://cocolab.stanford.edu/ndg.html">Noah Goodman</a><br>
  NeurIPS 2023 [<a href="https://github.com/jayelm/gisting" class="sidelink">code</a>]
</p>


<p><a href="https://arxiv.org/abs/2305.11374"><strong class="papertitle">Characterizing tradeoffs between teaching via language and demonstrations in multi-agent systems</strong></a><br>
  <a href="https://dharakyu.com/">Dhara Yu</a>, <a href="https://cocolab.stanford.edu/ndg.html">Noah Goodman</a>, <strong>Jesse Mu</strong><br>
  CogSci 2023
</p>


<p><a href="https://arxiv.org/abs/2202.08938"><strong class="papertitle">Improving Intrinsic Exploration with Language Abstractions</strong></a><br>
  <strong>Jesse Mu</strong>, <a href="https://www.victorzhong.com/">Victor Zhong</a>, <a href="https://rraileanu.github.io/">Roberta Raileanu</a>, <a href="https://minch.co/">Minqi Jiang</a>, <a href="https://cocolab.stanford.edu/ndg.html">Noah Goodman</a>, <a href="https://rockt.github.io/">Tim Rockt&#228;schel</a>, <a href="https://www.egrefen.com/">Edward Grefenstette</a><br>
  NeurIPS 2022 [<a href="https://www.youtube.com/watch?v=NeGJAUSQEJI" class="sidelink">Yannic Kilcher video</a>, <a href="https://www.youtube.com/watch?v=z4lAlVRwbrc" class="sidelink">interview</a>]
</p>

<p><a href="https://arxiv.org/abs/2210.00066"><strong class="papertitle">Improving Policy Learning via Language Dynamics Distillation</strong></a><br>
  <a href="https://www.victorzhong.com/">Victor Zhong</a>, <strong>Jesse Mu</strong>, <a href="https://www.cs.washington.edu/people/faculty/lsz">Luke Zettlemoyer</a>, <a href="https://www.egrefen.com/">Edward Grefenstette</a>, <a href="https://rockt.github.io/">Tim Rockt&#228;schel</a><br>
  NeurIPS 2022
</p>

<p><a href="https://arxiv.org/abs/2203.14465"><strong class="papertitle">STaR: Bootstrapping Reasoning with Reasoning</strong></a><br>
  <a href="https://zelikman.me/">Eric Zelikman</a>, <a href="http://www.cs.toronto.edu/~ywu/">Yuhai(Tony) Wu</a>, <strong>Jesse Mu</strong>, <a href="https://cocolab.stanford.edu/ndg.html">Noah Goodman</a><br>
  NeurIPS 2022
</p>

<p><a href="https://arxiv.org/abs/2204.08491"><strong class="papertitle">Active Learning Helps Pretrained Models Learn the Intended Task</strong></a><br>
  <a href="https://www.alextamkin.com/">Alex Tamkin</a>, Dat Nguyen, Salil Deshpande, <strong>Jesse Mu</strong>, <a href="https://cocolab.stanford.edu/ndg.html">Noah Goodman</a><br>
  NeurIPS 2022
</p>

<p><a href="#"><strong class="papertitle">In the ZONE: Measuring difficulty and progression in curriculum generation</strong></a><br>
  <a href="https://rosewang2008.github.io/">Rose Wang</a>, <strong>Jesse Mu</strong>, <a href="https://dilipa.github.io/">Dilip Arumugam</a>, <a href="https://natashajaques.ai/">Natasha Jaques</a>, <a href="https://cocolab.stanford.edu/ndg.html">Noah Goodman</a><br>
  NeurIPS 2022 Deep RL Workshop
</p>

<p><a href="https://openreview.net/forum?id=H-eMQbR7Z5"><strong class="papertitle">Emergent Covert Signaling in Adversarial Reference Games</strong></a><br>
  <a href="https://dharakyu.com/">Dhara Yu</a>, <strong>Jesse Mu</strong>, <a href="https://cocolab.stanford.edu/ndg.html">Noah Goodman</a><br>
  ICLR 2022 Emergent Communication Workshop
</p>

<p><a href="https://psyarxiv.com/tfb3d"><strong class="papertitle">Multi-party Referential Communication in Complex Strategic Games</strong></a><br>
  <a href="https://jmankewitz.com/">Jessica Mankewitz</a>, <a href="https://vboyce.github.io/">Veronica Boyce</a>, <a href="https://bwaldon.github.io/">Brandon Waldon</a>, <a href="https://sites.google.com/view/georgialoukatou/home">Georgia Loukatou</a>, <a href="https://dharakyu.com/">Dhara Yu</a>, <strong>Jesse Mu</strong>, <a href="https://cocolab.stanford.edu/ndg.html">Noah Goodman</a>, <a href="https://web.stanford.edu/~mcfrank/">Michael Frank</a><br>
  NeurIPS 2021 Meaning in Context (MiC) Workshop
</p>

<p><a href="https://arxiv.org/abs/2106.02668"><strong class="papertitle">Emergent Communication of Generalizations</strong></a><br>
  <strong>Jesse Mu</strong>, <a href="https://cocolab.stanford.edu/ndg.html">Noah Goodman</a> <br>
  NeurIPS 2021 [<a href="https://www.youtube.com/watch?v=LVW_t7p42X0" class="sidelink">NeurIPS talk</a>, <a href="https://www.youtube.com/watch?v=I1UXGmz3rUk" class="sidelink">ViGIL 2021 spotlight talk</a>, <a href="https://github.com/jayelm/emergent-generalization" class="sidelink">code</a>]
</p>

<p><a href="https://arxiv.org/abs/2110.05422"><strong class="papertitle">Calibrate Your Listeners! Robust Communication-based Training for Pragmatic Speakers</strong></a><br>
  <a href="https://rosewang2008.github.io/">Rose E. Wang</a>, Julia White, <strong>Jesse Mu</strong>, <a href="https://cocolab.stanford.edu/ndg.html">Noah Goodman</a> <br>
  Findings of EMNLP 2021 [<a href="https://github.com/rosewang2008/calibrate_your_listeners" class="sidelink">code</a>]
</p>

<p><a href="https://arxiv.org/abs/2006.14032"><strong class="papertitle">Compositional Explanations of Neurons</strong></a><br>
  <strong>Jesse Mu</strong>, <a href="https://web.mit.edu/jda/www/">Jacob Andreas</a> <br>
  NeurIPS 2020 (<strong>oral</strong>) [<a class="sidelink" href="https://www.youtube.com/watch?v=fXtIJH0GEHw">Weights &amp; Biases talk</a>, <a class="sidelink" href="https://slideslive.com/38938570/compositional-explanations-of-neurons">NeurIPS oral</a>, <a href="https://github.com/jayelm/compexp" class="sidelink">code</a>]
</p>

<p><a href="https://arxiv.org/abs/2006.00418"><strong class="papertitle">Learning to Refer Informatively by Amortizing Pragmatic Reasoning</strong></a><br>
  Julia White, <strong>Jesse Mu</strong>, <a href="https://cocolab.stanford.edu/ndg.html">Noah Goodman</a> <br>
  CogSci 2020 [<a class="sidelink" href="https://github.com/juliaiwhite/amortized-rsa">code</a>]
</p>

<p><a href="https://arxiv.org/abs/1911.02683"><strong class="papertitle">Shaping Visual Representations with Language for Few-shot Classification</strong></a><br>
  <strong>Jesse Mu</strong>, <a href="https://cs.stanford.edu/~pliang/">Percy Liang</a>, <a href="https://cocolab.stanford.edu/ndg.html">Noah Goodman</a> <br>
  ACL 2020 [<a class="sidelink" href="https://ai.stanford.edu/blog/learning-from-language/">SAIL blog post</a>, <a class="sidelink" href="https://slideslive.com/38929250/shaping-visual-representations-with-language-for-fewshot-classification">talk</a>, <a class="sidelink" href="https://github.com/jayelm/lsl">code</a>]
</p>

<p><a href="https://arxiv.org/abs/1904.02246"><strong class="papertitle">Learning Outside the Box: Discourse-level Features Improve Metaphor Identification</strong></a><br>
  <strong>Jesse Mu</strong>, <a href="https://www.cl.cam.ac.uk/~hy260/">Helen Yannakoudakis</a>, <a href="https://www.shutova.org/">Ekaterina Shutova</a> <br>
  NAACL 2019 [<a class="sidelink" href="https://vimeo.com/360541337">talk</a>, <a class="sidelink" href="https://github.com/jayelm/broader-metaphor">code</a>]
</p>

<p><a href="papers/nli_chi19.pdf"><strong class="papertitle">Do We Need Natural Language?  Exploring Restricted Language Interfaces for Complex Domains</strong></a><br>
  <strong>Jesse Mu</strong>, <a href="https://advait.org/">Advait Sarkar</a> <br>
  CHI 2019 Late-Breaking Work [<a class="sidelink" href="https://github.com/jayelm/shrdlurn-analyses">code</a>]
</p>

<p><a href="https://www.collabra.org/articles/10.1525/collabra.181/"><strong class="papertitle">The Meta-Science of Adult Statistical Word Segmentation: Part 1</strong></a><br>
  <a href="http://l3atbc.org/JKHartshorne.About.html">Joshua K. Hartshorne</a>, Lauren Skorb, Sven L. Dietz, Caitlin R. Garcia, Gina L. Iozzo, Katie E. Lamirato, <a href="http://jamesrledoux.com/">James R. Ledoux</a>, <strong>Jesse Mu</strong>, Kara N. Murdock, Jon Ravid, Alyssa A. Savery, James E. Spizzirro, Kelsey A. Trimm, Kendall D. van Horne, Juliani Vidal
  <br>
  <em>Collabra: Psychology</em> 5(1):1, 2019 [<a class="sidelink" href="https://osf.io/ehu7q/">code</a>]
</p>

<p><a href="http://www.aclweb.org/anthology/D/D17/D17-1104.pdf"><strong class="papertitle">Evaluating Hierarchies of Verb Argument Structure with Hierarchical Clustering</strong></a><br>
  <strong>Jesse Mu</strong>, <a href="http://l3atbc.org/JKHartshorne.About.html">Joshua K. Hartshorne</a>, <a href="http://people.linguistics.mcgill.ca/~timothy.odonnell/">Timothy O'Donnell</a> <br>
  EMNLP 2017
</p>

<p><a href="https://www.frontiersin.org/articles/10.3389/fnagi.2017.00301/full"><strong class="papertitle">Parkinson's Disease Subtypes Identified from Cluster Analysis of Motor and Non-motor Symptoms</strong></a>
  <br>
        <strong>Jesse Mu</strong>,
        <a href="https://kclpure.kcl.ac.uk/portal/ray.chaudhuri.html">Kallol R. Chaudhuri</a>,
        <a href="http://cig.fi.upm.es/CIGmembers/concha_bielza">Concha Bielza</a>,
        <a href="http://www.neurodegenerationresearch.eu/board-member/jesus-de-pedro-cuesta/">Jesus de Pedro-Cuesta</a>,
        <a href="http://cig.fi.upm.es/CIGmembers/pedro-larranaga">Pedro Larra&ntilde;aga</a>,
        <a href="https://www.researchgate.net/profile/Pablo_Martinez-Martin2">Pablo Martinez-Martin</a><br>
  <em>Frontiers in Aging Neuroscience</em> 9:301, 2017 [<a href="https://github.com/jayelm/ca-parkinsons" class="sidelink">code</a>]
</p>
